<div class="title grid-x small-12 align-center">

	<h3>À propos</h3>

</div>

<div class="content grid-x">

	<div class="photo cell medium-4 small-12">
		<img src="{{root}}/assets/img/romain-rouault.jpg" alt="Photo Romain Rouault">
	</div>

	<div class="text cell medium-8 small-12">
		<p>
			Je suis autodidacte depuis plusieurs années et actuellement en formation à plein temps.<br/>
			J’ai acquis la capacité de concevoir, développer et intégrer une application pour le web.<br/>
			J’ai le goût et l’ambition d’étendre en permanence mes compétences.
		</p>
	</div>

</div>