<div class="title grid-x small-12 align-center">

	<h3>À propos</h3>

</div>

<div class="content grid-x">

	<div class="photo cell medium-4 small-12">
		<img src="{{root}}assets/img/romain-rouault.jpg" alt="Photo Romain Rouault">
	</div>

	<div class="text cell medium-8 small-12">
		<p>
			Je suis un autodidacte issu d'un parcours littéraire et un ancien bibliothécaire spécialisé dans le numérique. J'entreprends une reconversion par passion pour le métier de développeur.
		</p>

		<p>
			Je suis d'abord intéressé par les technologies front-end. Les problématiques d'UX m'intéressent et je suis adepte du "less is more". Mais j'ai rapidement l'ambition d'étendre mes compétences au back-end.
			Je suis curieux de tout l'éventail des technologies et je choisis de suivre une formation diplômante spécialisée dans le langage PHP et le framework Symfony. 
		</p>

		<p>
			Je suis enthousiasmé par les challenges et je suis tenace.
			J’ai également le goût et l’ambition d’étendre en permanence mes compétences.
		</p>
	</div>

</div>