<section id="contact">
	<div class="grid-container">

		<div class="title grid-x small-12 align-center">
			<h3>Contact</h3>
		</div>

		<div class="grid-x grid-margin-x contact-icons-wrapper align-center">
			<ul id="contact-icons" class="menu align-center">
				  <li><a href="mailto:rrouault11@gmail.com" title="rrouault11@gmail.com"><i class="fas fa-envelope" aria-label="hidden"></i><span class="hide">E-mail</span></a></li>
				  <li><a href="https://linkedin.com/in/rouaultromain" target="_blank"><i class="fab fa-linkedin" aria-label="hidden"></i><span class="hide">LinkedIn</span></a></li>
				  <li><a href="https://twitter.com/RomainRouault" target="_blank"><i class="fab fa-twitter" aria-label="hidden"></i><span class="hide">Twitter</span></a></li>
				  <li><a href="http://github.com/RomainRouault" target="_blank"><i class="fab fa-github" aria-label="hidden"></i><span class="hide">GitHub</span></a></li>
			</ul>
		</div>
		
		<aside class="grid-x grid-margin-x align-center"> 
			<span>© 2018 Romain Rouault - <a class="mentions-link" id="mentions_legales-link">mentions légales</a></span>
		</aside>
	</div>
</section>