<div class="title grid-x small-12 align-center">
  <h3>Parcours</h3>
</div>

<div class="timeline">

  <div class="timeline-item">
    <div class="timeline-icon" style="margin-top: -1px">
      <i class="fas fa-university" aria-hidden="true"></i>
    </div>
    <div class="timeline-content">
      <p class="timeline-content-date">2012</h2>
      <p>Fin de mes études à <a href="https://www.univ-amu.fr/">l'université d'Aix-Marseille</a>.<br/>Je suis diplômé en histoire contemporaine (master de recherche) et en “Métiers des bibliothèques et de la documentation” (master professionnel).</p>
    </div>
  </div>

  <div class="timeline-item">
    <div class="timeline-icon">
      <i class="fas fa-book-reader" aria-hidden="true"></i>
    </div>
    <div class="timeline-content right">
      <p class="timeline-content-date">2014</h2>
      <p>Je deviens bibliothécaire multimédia dans le <a href="http://mediatheque.clamart.fr/">Réseau des médiathèques de Clamart</a>.</br>Parmi mes mission : l'administration et l'animation du portail web du Réseau, le développement d’un projet jeux vidéo (animations, acquisitions), la communication print, l'animation d’un espace multimédia (activités pédagogiques et ludiques), du service public, et la gestion et valorisation des collections numériques.</p>
    </div>
  </div>

  <div class="timeline-item">
    <div class="timeline-icon" style="margin-left: -34px;">
      <i class="fas fa-code" aria-hidden="true"></i>
    </div>
    <div class="timeline-content">
      <p class="timeline-content-date">2015</h2>
      <p>
        Début de mon apprentissage des technologies web en autodidacte et en parralèle de mon travail.<br/> L'école en ligne <a href="https://openclassrooms.com">OpenclassRooms</a> est alors ma principale source d'apprentissage. Je réalise des projets personnel (<a href="#portfolio">voir portfolio</a>) pour mettre en pratique mes apprentissages.
      </p>
      <aside>
        <div class="accordion" data-accordion data-accordion data-allow-all-closed="true"> 
          <span class="accordion-item" data-accordion-item>
            <a href="#" class="accordion-title">Consulter mes certifications</a>
            <ul class="accordion-content" data-tab-content id="certifications">

              <li><a href="https://openclassrooms.com/fr/courses/918836-concevez-votre-site-web-avec-php-et-mysql">Concevez votre site web avec PHP et MySQL</a><a href="https://openclassrooms.com/fr/course-certificates/49244427" target="_blank"><i class="fas fa-graduation-cap  " aria-hidden="true"></i></a></li>

              <li><a href="https://openclassrooms.com/fr/courses/1603881-apprenez-a-creer-votre-site-web-avec-html5-et-css3">Apprenez à créer votre site web avec HTML5 et CSS3</a><a href="https://openclassrooms.com/fr/course-certificates/8504563" target="_blank"><i class="fas fa-graduation-cap  " aria-hidden="true"></i></a></li>

              <li><a href="https://openclassrooms.com/fr/courses/1959476-administrez-vos-bases-de-donnees-avec-mysql">Administrez vos bases de données avec MySQL</a><a href="https://openclassrooms.com/fr/course-certificates/8887029598" target="_blank"><i class="fas fa-graduation-cap  " aria-hidden="true"></i></a></li>

              <li><a href="https://openclassrooms.com/fr/courses/3504431-decouper-et-integrer-une-maquette">Découper et intégrer une maquette</a><a href="https://openclassrooms.com/fr/course-certificates/8735134169" target="_blank"><i class="fas fa-graduation-cap  " aria-hidden="true"></i></a></li>

              <li><a href="https://openclassrooms.com/fr/courses/1885491-prenez-en-main-bootstrap">Prenez en main Bootstrap</a><a href="https://openclassrooms.com/fr/course-certificates/6198897930" target="_blank"><i class="fas fa-graduation-cap  " aria-hidden="true"></i></a></li>
              
              <li><a href="https://openclassrooms.com/fr/courses/4055451-modelisez-implementez-et-requetez-une-base-de-donnees-relationnelle-avec-uml-et-sql">Modélisez, implémentez et requêtez une base de données relationnelle avec UML et SQL</a><a href="https://openclassrooms.com/fr/course-certificates/5552540007" target="_blank"><i class="fas fa-graduation-cap  " aria-hidden="true"></i></a></li>
              
              <li><a href="https://openclassrooms.com/fr/courses/3504421-realisez-des-sites-modernes-et-beaux-grace-a-wordpress">Réalisez des sites modernes et beaux grâce à WordPress</a><a href="https://openclassrooms.com/fr/course-certificates/6347980954" target="_blank"><i class="fas fa-graduation-cap" aria-hidden="true"></i></a></li>

              <li><a href="https://openclassrooms.com/fr/courses/4192086-gerez-votre-projet-informatique-facilement">Gérez votre projet informatique facilement !</a><a href="https://openclassrooms.com/fr/course-certificates/6858299717" target="_blank"><i class="fas fa-graduation-cap" aria-hidden="true"></i></a></li>
              
              <li><a href="https://openclassrooms.com/fr/courses/4296701-gerez-un-projet-digital-avec-une-methodologie-en-cascade">Gérez un projet digital avec une méthodologie en cascade</a><a href="https://openclassrooms.com/fr/course-certificates/9432973311" target="_blank"><i class="fas fa-graduation-cap" aria-hidden="true"></i></a></li>
              
              <li><a href="https://openclassrooms.com/fr/courses/4670706-adoptez-une-architecture-mvc-en-php">Adoptez une architecture MVC en PHP</a><a href="https://openclassrooms.com/fr/course-certificates/1651106447" target="_blank"><i class="fas fa-graduation-cap" aria-hidden="true"></i></a></li>

            </ul>
          </li>
        </div>
      </aside>
    </div>
  </div>

  <div class="timeline-item">
    <div class="timeline-icon" style="margin-left: -28px;">
      <i class="fas fa-code-branch" aria-hidden="true"></i>
    </div>
    <div class="timeline-content right">
      <p class="timeline-content-date">2018</h2>
      <p>
        Je quitte mon emploi de bibliothécaire et je me consacre à temps plein au parcours diplômant de <a href="https://openclassrooms.com/fr/paths/59-developpeur-dapplication-php-symfony">"Développeur d’application - spécialité PHP/Symfony"</a> de l'école en ligne <a href="https://openclassrooms.com">OpenclassRooms</a>. 
      </p>
    </div>
  </div>


</div>

