<header class="grid-x sticky-shrinknav-header">

	<div id="top-header-small-device" class="grid-x hide-for-medium">

		<div class="cell small-6 logo" aria-hidden="true">
			<a>
				<svg xmlns="http://www.w3.org/2000/svg" width="34" height="40" viewBox="0 0 51.4 60">
					<polygon id="hexa-ext-small" stroke-miterlimit="10" points="25.5,0.9 50.5,15.5 50.5,44.5 25.5,59.1 0.5,44.5 0.5,15.5 "/>
					<polygon id="hexa-int-small" stroke-miterlimit="10" points="45.4,30 35.4,47.5 15.6,47.5 5.6,30 15.6,12.5 35.4,12.5"/>
				</svg>
			</a>
		</div>

		<div class="cell small-6 button-small-device" data-responsive-toggle="main-menu" data-hide-for="medium">
		  <button class="menu-icon" type="button" data-toggle="main-menu">
		  	<span id="close-button">
		  		<svg width="30" height="25" viewBox="0 0 19 20" xmlns="http://www.w3.org/2000/svg">
		  			<path d="M16.92 2.37L2.3 17M2.08 2.37L16.7 17" stroke-width="4" fill="none" stroke-linecap="square"></path>
		  		</svg>
		  	</span>
		  </button>
		</div>

	</div>

	<div class="sticky-shrinknav-header-title-wrapper grid-x">
		<h1 class="sticky-shrinknav-header-title">Romain Rouault</h1>
		<h2 class="sticky-shrinknav-header-title">Développeur Web</h2>
	</div>

	<nav id="main-menu">
		<ul  class="vertical menu medium-horizontal align-center sticky-shrinknav-menu">
			<li id="logo" class="hero show-for-medium" aria-hidden="true">
				<a>
					<svg xmlns="http://www.w3.org/2000/svg" width="34" height="40" viewBox="0 0 51.4 60">
						<polygon id="hexa-ext" stroke-miterlimit="10" points="25.5,0.9 50.5,15.5 50.5,44.5 25.5,59.1 0.5,44.5 0.5,15.5 "/>
						<polygon id="hexa-int" stroke-miterlimit="10" points="45.4,30 35.4,47.5 15.6,47.5 5.6,30 15.6,12.5 35.4,12.5"/>
					</svg>
				</a>
			</li>
			<li><a href="#about">À propos</a></li>
			<li><a href="#technology">Technologies</a></li>
			<li><a href="#portfolio">Portfolio</a></li>
			<li><a href="#education">Parcours</a></li>
			<li><a href="#contact">Contact</a></li>
		</ul>
	</nav>
</header>
