<div class="title grid-x small-12 align-center">

	<h3>Technologies</h3>

</div>

<ul class="content grid-x align-center" id="tech-cat">

	<li class="small-12 medium-4 tech-list" id="languages">
		<div class="grid-y text-center">
			<div class="tech-list-title">
				<i class="fas fa-code hexa" aria-hidden="true"></i>
				<h4>Langages</h4>
			</div>
			<ul class="tech-list-content">
				<li>PHP/MySql</li>
				<li>HTML/CSS</li>
				<li>Javascript</li>
			</ul>
		</div>
	</li>

	<li class="cell small-12 medium-4 tech-list" id="frameworks">
		<div class="grid-y text-center">
			<div class="tech-list-title">
				<i class="fas fa-book hexa" aria-hidden="true"></i>
				<h4>Frameworks/Bibliothèques</h4>
			</div>
			<ul class="tech-list-content">
				<li>Symfony</li>
				<li>jQuery</li>
				<li>Bootstrap</li>
				<li>Foundation</li>
			</ul>
		</div>
	</li>

	<li class="cell small-12 medium-4 tech-list" id="CMS">
		<div class="grid-y text-center">
			<div class="tech-list-title">
				<i class="fab fa-wordpress hexa" aria-hidden="true"></i>
				<h4>CMS</h4>
			</div>
			<ul class="tech-list-content">
				<li>Wordpress</li>
				<li>Joomla</li>
			</ul>
		</div>
	</li>

	<li class="cell small-12 medium-4 tech-list" id="graphics">
		<div class="grid-y text-center">
			<div class="tech-list-title">
				<i class="fas fa-paint-brush hexa" aria-hidden="true"></i>
				<h4>Graphisme</h4>
			</div>
			<ul class="tech-list-content">
				<li>Photostop</li>
				<li>Gimp</li>
			</ul>
		</div>
	</li>

	<li class="cell small-12 medium-4 tech-list" id="various">
		<div class="grid-y text-center">
			<div class="tech-list-title">
				<i class="fas fa-toolbox hexa" aria-hidden="true"></i>
				<h4>Divers</h4>
			</div>
			<ul class="tech-list-content">
				<li>Git</li>
				<li>Twig</li>
				<li>Saas</li>
				<li>UML</li>
				<li>Ubuntu</li>
			</ul>
		</div>
	</li>
		
	</li>

</ul>