//  Custom SCSS
//  -----------------------------
//
//  Table of Contents:
//
//   1. Global
//   2. Header
//   3. Sections
//     3.1 About
//     3.2 Technology
//     3.3 Portfolio
//   4. 
//   5. 
//   6. 

@import 'myMixin'; 

//------------------------------------------------------------------------------------------------------------------------------
// 1. Global
// ---------

.align-center{
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

h1, h3{
  font-weight: bold;
}

h1, h2, h3{
    text-transform: uppercase;
}

h3{
  color : $secondary-color;
}

//------------------------------------------------------------------------------------------------------------------------------
// 2. Header
// ---------

$sticky-shrinknav-menu-height: rem-calc(50);
$sticky-shrinknav-hero-height: 300px;

body {
  padding-top: $sticky-shrinknav-hero-height + 30px;
}

#hexa-ext, #hexa-ext-small
{
  fill: $secondary-color;
  transition: all 0.3s ease;
}

#hexa-int, #hexa-int-small
{
    fill: $primary-color;
    transform: rotate(0deg);
    transform-origin: center;
    transition: all 3s ease;
    
    &.theyseemerollin{
    transform: rotate(720deg);
    transform-origin: center;
    transition: all 4s ease;
    }
}

#hexa-int{
  fill: $primary-color;
}

.sticky-shrinknav-menu {
  @include horizontal-center;
  bottom: 0;
  height: $sticky-shrinknav-menu-height;
  line-height: $sticky-shrinknav-menu-height;
  width: 100%;
  transition: all 0.3s ease;
  padding-top: rem-calc(5);
  text-transform: uppercase;
  z-index: 9999;


  li {
      transition: all 0.3s ease;

    &#logo.hero{
      transform: translateX(90px) translateY(-135px) scale(2.5);
      transition: all 0.3s ease;
    }

    &#logo:hover #hexa-ext{
    fill: $mypurple;
    transition: all 0.3s ease;
  }


    &#logo a{
    padding-top: 0px;
    }
    
  }

  a {
    color: $secondary-color;
    transition: all 0.3s ease;

    &:hover{
      color: $mypurple;
    }
  }
}


.sticky-shrinknav-header-title {
  transition: all 0.3s ease;
  position: relative;
  transform: translateY(-$sticky-shrinknav-menu-height/2);
  margin-bottom: 0;
  color: $secondary-color;
}


.sticky-shrinknav-header {
  width: 100%;
  height: $sticky-shrinknav-hero-height;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $primary-color;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  transition: all 0.3s ease;
}

//active class when header is shrinked
body.sticky-shrinknav-wrapper {
  padding-top: 130px;

  .sticky-shrinknav-header{
    height: $sticky-shrinknav-menu-height;
    background-color: rgba($primary-color, 0.97);

    .sticky-shrinknav-header-title{
      transform: scale(0);
      transition: all 0.3s ease;
    }
  }
  
}

body .sticky-shrinknav-header.hide-nav{
  height: 0px;
}

body .sticky-shrinknav-header.show-nav{
  height: $sticky-shrinknav-menu-height;
}


.sticky-shrinknav-header-title-wrapper {
  flex-direction: column;
  display: flex;
  align-items: flex-start;
  padding-left: rem-calc(40);
  transition : all 0.1s linear;
  opacity: 1;
}

.menu .active > a{
  background: none;
}


// small devices

#top-header-small-device{
  width: 100%;

  .logo{
    text-align : left;
  }

  .button-small-device
  {

    text-align: right;
    padding-top: 4px;
    transition: all 0.2s ease;

    button.menu-icon
    {
      width: 29px;

      &.active
      {
        
        //hide hamburger if active
        &::after
        {
          opacity: 0;
          transform: scale(0);
          transition: all 0.2s ease;
        }
        
        //show close button
        #close-button>svg>path
        {
          opacity: 1;
          transform: scale(1);
          transition: all 0.2s ease;
        }

      }

    }

    //hamburger icon
    ::after
    {
      height: 4px;
      background: $secondary-color;
      -webkit-box-shadow: 0 8px 0 $secondary-color, 0 16px 0 $secondary-color;
      box-shadow: 0 8px 0 $secondary-color, 0 16px 0 $secondary-color;
      transition: all 0.2s ease;
    }

    //cross - fa icon
    #close-button>svg>path
    {
      stroke : $secondary-color;
      opacity: 0;
      transform: scale(0);
      transition: all 0.2s ease;
    }

  }

}

.toggled{
  transition : all 0.2s ease;
  opacity: 0;
}

@include breakpoint(small only) {

  .sticky-shrinknav-header{
  align-items: flex-start;
  }

  #top-header-small-device{
  padding: rem-calc(20 30);
  }

  .sticky-shrinknav-header-title-wrapper{
    padding : rem-calc(0 50);
    align-items: center;
  }

  .sticky-shrinknav-menu{
    height: auto;
    padding: rem-calc(0 0 25 0);
  }

  //active class when header is shrinked 
  body.sticky-shrinknav-wrapper {

    //height of menu when is shrinked
    .sticky-shrinknav-header{
      height: $sticky-shrinknav-menu-height+rem-calc(22);
    }

    //height of menu when is active
    .sticky-shrinknav-header.toggled-menu{
      height: $sticky-shrinknav-hero-height;
    }


  }    

}

//------------------------------------------------------------------------------------------------------------------------------
// 3. Sections
// ---------

section{

  padding : rem-calc(60 50);

  @include breakpoint(small only) {

    padding : rem-calc(96.5 50);
  }

  .title{

    padding-bottom: rem-calc(60);

      h3{
        transition: all 1s ease; 
        position: relative;
        z-index: -1;

          &::after{
          content: '';
          display: block;
          position: absolute;
          top: 1; right: 0; bottom: 0; left: 0;
          margin: -2px;
          z-index: -1;
          transition: width 0.3s ease;
          width: 0%;
          height: 2px;
          background-color: $mypurple;
          }

      }
    
  }

  .content{
    width: 100%;
  }

  &.active{
    .title h3{
      transition: all 1s ease;
      color : $mypurple;

      &::after{
        width: 100%;
        transition-delay: 2s;
        transition: width 0.7s ease;
      }
    }
  }

}

// 3.1 About

#about{

  img{
    border-right : 7px solid $secondary-color;
    border-bottom : 7px solid $secondary-color;
    transition: all 1s ease;
  }

  .text{
    border-bottom : 2px solid $secondary-color;
    border-top : 2px solid $secondary-color;

      p{
        padding : rem-calc(20 0);
        transition: all 0.7s ease;
      }
  }

  &.active{
  
    img{
      border-right-color : $mypurple;
      border-bottom-color : $mypurple;
      transition: all 1s ease;
    }

    .text{
      border-bottom-color : $mypurple;
      border-top-color : $mypurple;
      transition: all 0.7s ease;
      
      
      @include breakpoint(medium) {
        p{
          transform : translateX(rem-calc(20));
          transition: all 0.7s ease;
          z-index: -1;
        }
      }
    }

  }

}

// 3.2 Technologies

#technology
{

  .hexa{
     @include hexa-icon('blue');
  }

  ul#tech-cat{
    list-style-type: none;

    .tech-list{
      padding-bottom: rem-calc(50);
    }

    .tech-list-title{

      i{
        color: $white;
        font-size: rem-calc(25);
        padding: rem-calc(20);
      }

      h4{
        margin-top: 10px;
      }
    }

    .tech-list-content{
      margin : auto;
      transition: all 0.7s ease;
      
      li{
        text-align : left;
      }

    }

  }
  
  &.active{

    .hexa{
      @include hexa-icon('purple');
    }

    .tech-list-content{
      transform : translateY(20px);
      transition: all 0.7s ease;
      z-index : -1; 
    }

  }


}

// 3.3 portfolio

#portfolio-container
{
  background-color: $secondary-color;
  position: relative;
  z-index: -1;
}
  
#portfolio{
  
  height : 1200px;

  h3{
    z-index : -1;
    color : $white;
  }

  .card
  {
    background : $white;
    height: 350px;

    .project-screen{

    }
  }
}
