//  Custom SCSS
//  -----------------------------
//
//  Table of Contents:
//
//   1. Global
//   2. Header
//   3. Sections
//     3.1 About
//     3.2 Technology
//     3.3 Portfolio
//     3.4 Education
//   4. Contact
//   5. Modal

@import 'myMixin'; 

//------------------------------------------------------------------------------------------------------------------------------
// 1. Global
// ---------

.align-center{
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

h1, h3{
  font-weight: bold;
}

h1, h2, h3{
    text-transform: uppercase;
}

h3{
  color : $secondary-color;
}
  
.button{
  border: rem-calc(3) solid $primary-color;
  transition : border 2s ease;

    :hover{
      color : $mypurple;
    }
}

.accordion-title::before{
  right : unset;
  left: 1rem;
  margin-top: rem-calc(-5);
}
//------------------------------------------------------------------------------------------------------------------------------
// 2. Header
// ---------

$sticky-shrinknav-menu-height: rem-calc(50);
$sticky-shrinknav-hero-height: 300px;

body {
  padding-top: $sticky-shrinknav-hero-height + 30px;
}

#hexa-ext, #hexa-ext-small
{
  fill: $secondary-color;
  transition: all 0.3s ease;
}

#hexa-int, #hexa-int-small
{
    fill: $primary-color;
    transform: rotate(0deg);
    transform-origin: center;
    transition: all 3s ease;
    
    &.theyseemerollin{
    transform: rotate(720deg);
    transform-origin: center;
    transition: all 4s ease;
    }
}

#hexa-int{
  fill: $primary-color;
}

.sticky-shrinknav-menu {
  @include horizontal-center;
  bottom: 0;
  height: $sticky-shrinknav-menu-height;
  line-height: $sticky-shrinknav-menu-height;
  width: 100%;
  transition: all 0.3s ease;
  padding-top: rem-calc(5);
  text-transform: uppercase;
  z-index: 100;


  li {
      transition: all 0.3s ease;

    &#logo.hero{
      transform: translateX(90px) translateY(-135px) scale(2.5);
      transition: all 0.3s ease;
    }

    &#logo:hover #hexa-ext{
    fill: $mypurple;
    transition: all 0.3s ease;
  }


    &#logo a{
    padding-top: 0px;
    }
    
  }

  a {
    color: $secondary-color;
    transition: all 0.3s ease;

    &:hover{
      color: $mypurple;
    }
  }
}


.sticky-shrinknav-header-title {
  transition: all 0.3s ease;
  position: relative;
  transform: translateY(-$sticky-shrinknav-menu-height/2);
  margin-bottom: 0;
  color: $secondary-color;
}


.sticky-shrinknav-header {
  width: 100%;
  height: $sticky-shrinknav-hero-height;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $primary-color;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  transition: all 0.3s ease;
  z-index: 100;
}

//active class when header is shrinked
body.sticky-shrinknav-wrapper {
  padding-top: 130px;

  .sticky-shrinknav-header{
    height: $sticky-shrinknav-menu-height;
    background-color: rgba($primary-color, 0.97);

    .sticky-shrinknav-header-title{
      transform: scale(0);
      transition: all 0.3s ease;
    }
  }
  
}

body .sticky-shrinknav-header.show-nav{
  height: $sticky-shrinknav-menu-height;
}


.sticky-shrinknav-header-title-wrapper {
  flex-direction: column;
  display: flex;
  align-items: flex-start;
  padding-left: rem-calc(40);
  transition : all 0.1s linear;
  opacity: 1;
}

.menu .active > a{
  background: none;
}


// small devices

#top-header-small-device{
  width: 100%;

  .logo{
    text-align : left;
  }

  .button-small-device
  {

    text-align: right;
    padding-top: 4px;
    transition: all 0.2s ease;

    button.menu-icon
    {
      width: 29px;

      &.active
      {
        
        //hide hamburger if active
        &::after
        {
          opacity: 0;
          transform: scale(0);
          transition: all 0.2s ease;
        }
        
        //show close button
        #close-button>svg>path
        {
          opacity: 1;
          transform: scale(1);
          transition: all 0.2s ease;
        }

      }

    }

    //hamburger icon
    ::after
    {
      height: 4px;
      background: $secondary-color;
      -webkit-box-shadow: 0 8px 0 $secondary-color, 0 16px 0 $secondary-color;
      box-shadow: 0 8px 0 $secondary-color, 0 16px 0 $secondary-color;
      transition: all 0.2s ease;
    }

    //cross - fa icon
    #close-button>svg>path
    {
      stroke : $secondary-color;
      opacity: 0;
      transform: scale(0);
      transition: all 0.2s ease;
    }

  }

}

.toggled{
  transition : all 0.2s ease;
  opacity: 0;
}

@include breakpoint(small only) {

  .sticky-shrinknav-header{
  align-items: flex-start;
  }

  #top-header-small-device{
  padding: rem-calc(20 30);
  }

  .sticky-shrinknav-header-title-wrapper{
    padding : rem-calc(0 50);
    align-items: center;
  }

  .sticky-shrinknav-menu{
    height: auto;
    padding: rem-calc(0 0 25 0);
  }

  //active class when header is shrinked 
  body.sticky-shrinknav-wrapper {

    //height of menu when is shrinked
    .sticky-shrinknav-header{
      height: $sticky-shrinknav-menu-height+rem-calc(22);
    }

    //height of menu when is active
    .sticky-shrinknav-header.toggled-menu{
      height: $sticky-shrinknav-hero-height;
    }


  }    

}

body .sticky-shrinknav-header.hide-nav{
  height: 0px;
}

//------------------------------------------------------------------------------------------------------------------------------
// 3. Sections
// ---------

section{

  padding : rem-calc(100 50);


  @include breakpoint(small only) {

    padding : rem-calc(96.5 10);
  }

  .title{

    padding-bottom: rem-calc(60);

      h3{
        transition: all 1s ease; 
        position: relative;

          &::after{
          content: '';
          display: block;
          position: absolute;
          top: 1; right: 0; bottom: 0; left: 0;
          margin: -2px;
          transition: width 0.3s ease;
          width: 0%;
          height: 2px;
          background-color: $mypurple;
          }

      }
    
  }

  .content{
    width: 100%;
  }

  &.active{

    .title h3{
      transition: all 1s ease;
      color : $mypurple;

      &::after{
        width: 100%;
        transition-delay: 2s;
        transition: width 0.7s ease;
      }
    }
  }

}

// 3.1 About

#about{

  img{
    border-right : 7px solid $secondary-color;
    border-bottom : 7px solid $secondary-color;
    transition: all 1s ease;
  }

  .text{
    border-bottom : 2px solid $secondary-color;
    border-top : 2px solid $secondary-color;

      p{
        padding : rem-calc(20 0);
        transition: all 0.7s ease;
      }
  }

  &.active{
  
    img{
      border-right-color : $mypurple;
      border-bottom-color : $mypurple;
      transition: all 1s ease;
    }

    .text{
      border-bottom-color : $mypurple;
      border-top-color : $mypurple;
      transition: all 0.7s ease;
      
      
      @include breakpoint(medium) {
        p{
          transform : translateX(rem-calc(20));
          transition: all 0.7s ease;
        }
      }
    }

  }

}

// 3.2 Technologies

#technology
{
  position: relative;

  &::after{
    content: '';
    display: block;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 1;
    transition: height 0.3s ease;
    width: 2px;
    height: 0%;
    background-color: $mypurple;
  }

  &::before{
    content: '';
    display: block;
    position: absolute;
    top: 0; right: 1; bottom: 0; left: 0;
    transition: height 0.3s ease;
    width: 2px;
    height: 0%;
    background-color: $mypurple;
  }



  .hexa{
     @include hexa-icon('blue');
  }

  ul#tech-cat{
    list-style-type: none;

    .tech-list{
      padding-bottom: rem-calc(50);
    }

    .tech-list-title{

      i{
        color: $white;
        font-size: rem-calc(25);
        padding: rem-calc(20);
      }

      h4{
        margin-top: 10px;
      }
    }

    .tech-list-content{
      margin : auto;
      transition: all 0.7s ease;
      
      li{
        text-align : left;
      }

    }

  }
  
  &.active{

      &::after, &::before{
        height: 98%;
        transition-delay: 3s;
        transition: height 2s ease;
      }

    .hexa{
      @include hexa-icon('purple');
    }

    .tech-list-content{
      transform : translateY(20px);
      transition: all 0.7s ease;
    }

  }


}

// 3.3 portfolio

#portfolio-container
{
  background-color: $secondary-color;
  position: relative;
}
  
#portfolio{

  position : relative;
  z-index: 1;

  &::after{
    content: '';
    display: block;
    position: absolute;
    top: 14%; right: 50%; bottom: 0; left: 50%;
    transition: height 0.3s ease;
    width: 3px;
    height: 0%;
    background-color: $mypurple;
    z-index: -1;
  }

  &.more-content::after{
    top : 9%;
    }


  &.active{

    &::after{
      height: 85%;
      transition-delay: 3s;
      transition: height 2s ease;
    }

    &.more-content::after{
      height : 90%;
    }


    .button{
      border-color: $mypurple;
      transition-delay: 1s !important;
      transition : all 2s ease;
    }
  
    .project-card{
      
      transition: all 1s ease;

      &.top-border{
        border-top-color: $mypurple;
      }

      &.bottom-border{
        border-bottom-color: $mypurple;
      }

      &.right-border{
        border-right-color: $mypurple;
      }

      &.left-border{
        border-left-color: $mypurple;
      }

      &.right-border, &.left-border, &.bottom-border, &.top-border{
        transition : all 1s ease;
      }

    }

  }

  h3{
    color : $white;
  }

  .project-card
  {
    
    padding : rem-calc(10 80);
    margin-bottom: rem-calc(50);
    background : $white;
    transition: all 1s ease;

    @include breakpoint(small only) {
      padding : rem-calc(10 5);
    }
   &.top-border{
      border-top-color: solid 7px $primary-color;
    }

    &.bottom-border{
      border-bottom: solid 7px $primary-color;
    }


    &.left-border{
      border-left: solid 7px $primary-color;
    }

    &.right-border{
      border-right: solid 7px $primary-color;
    }

    &.right-border, &.left-border, &.bottom-border, &.top-border{
      transition : all 1s ease;
    }

    .screen-project-wrapper{
      border: 8px solid black;
      border-top-width: 14px;
      border-radius: 10px 10px 0 0;
      display: inline-block;
      overflow: hidden;
      width: 95%;
      margin: auto;
      position: relative;
      
      $image-hover-wrapper-transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
      $image-hover-wrapper-transition-delay: 0.25s;

      a {
        display: inline-block;
        letter-spacing: normal;
        line-height: initial;
        margin: 0;
        padding: 0;
        position: relative;

        img {
          overflow: hidden;
          width: 100%;
        }

        .image-hover-wrapper-reveal {
          background-color: rgba(0, 0, 0, 0.5);
          color: $white;
          display: inline;
          height: 100%;
          margin-left: -100%;
          opacity: 0;
          position: absolute;
          width: 100%;
          z-index: 80;
          transition: $image-hover-wrapper-transition;
          transition-delay: $image-hover-wrapper-transition-delay;

          &:hover {
            opacity: 1;
            transition: $image-hover-wrapper-transition;
          }

          &:hover p {
            opacity: 1;
            transform: translateY(-135%);
            transition: $image-hover-wrapper-transition;
            transition-delay: $image-hover-wrapper-transition-delay;
          }

          p {
            margin : 0;
            bottom: 0;
            display: block;
            opacity: 0;
            position: absolute;
            text-align: center;
            width: 100%;
            transition: $image-hover-wrapper-transition;
          }

        }

      }
    }

    p.project-description {
      font-size: 12px;
      padding : rem-calc(10 0 10 0);
    }
  }

  #more-projects{
    margin : auto;
  }
}

// 3.4 education

#education{

  $timeline-color: $secondary-color;
  $timeline-transition: all 0.3s ease;
  $timeline-item-card-bg: $secondary-color;
  $timeline-item-font-color: $secondary-color;
  $timeline-item-card: false;
  $timeline-item-card-radius: $global-radius;

  %clearfix {
    &::after,
    &::before {
      clear: both;
      content: '';
      display: block;
      width: 100%;
    }
  }


  // Timeline
  .timeline {
    margin: 30px auto;
    padding: 0 10px;
    position: relative;
    transition: $timeline-transition;
    transition-delay: 1s !important;
    width: 100%;
    z-index: 2;

    &::before {
      background: $timeline-color;
      content: '';
      height: 0%;
      left: 50%;
      position: absolute;
      top: 0;
      width: 3px;
      transition : color 0.3s ease, height 1s ease;
      z-index: 1;
    }


    &::after {
      clear: both;
      content: '';
      display: table;
      width: 100%;
    }

    a {
      color: $timeline-item-font-color;
      font-weight: bold;
      transition: $timeline-transition;

      &:hover {
        box-shadow: 0 1px 0px 0px $timeline-item-font-color;
        transition: $timeline-transition;
      }
    }

    .timeline-item {
      margin-bottom: 50px;
      position: relative;
      z-index: 1;
      @extend %clearfix;

      .timeline-icon {
        
        left: 50%;
        margin-left: rem-calc(-30);
        overflow: hidden;
        position: absolute;
        top: 0;
        z-index: -2;

        i {
          @include hexa-icon('blue');
          z-index: -1;
          padding : rem-calc(20);
          font-size: rem-calc(25);
          color : $white;
        }

      }

      .timeline-content {
        padding: 20px;
        text-align: right;
        transition: $timeline-transition;
        width: 45%;

        @if $timeline-item-card == true {
          background: $timeline-item-card-bg;
          border-radius: $timeline-item-card-radius;

          p {
            color: $black;
          }
        } @else {
          background: transparent;

          p {
            color: $timeline-item-font-color;
          }
        }

        p {
          font-size: 16px;
          line-height: 1.4;
          margin-bottom: 0;
        }

        .timeline-content-date {
          font-size: 16px;
          font-weight: bold;
          margin-bottom: 0;
        }

        .timeline-content-month {
          font-size: rem-calc(14);
          text-transform: uppercase;
          font-weight: 400;
        }

        &.right {
          float: right;
          text-align: left;
        }
      }
    }

    .accordion{
      margin-top: rem-calc(10);

      a{
        font-weight: normal;

        i:hover{
          box-shadow: unset;
          color: $mypurple;
          transition: $timeline-transition;
        }
      }

      i{
        margin-left: rem-calc(10);
        transition: $timeline-transition;
      }

      li > a:nth-child(2){
        box-shadow: unset;
      }
    }
  }

  &.active{

    .timeline{

      &::before {
        height : 100%;
        background: $mypurple;
        transition : color 0.3s ease, height 4s ease;
      }

      .timeline-icon i{
        @include hexa-icon('purple');
      }
    }

  }


  @include breakpoint(small only) {
    .timeline {
      margin: 30px;
      padding: 0;
      width: 90%;

      &::before {
        left: 0;
      }

      .timeline-item {
        .timeline-content {
          float: right;
          text-align: left;
          width: 90%;

          &::before,
          &.right::before {
            border-left: 0;
            border-right: 7px solid $timeline-color;
            left: 10%;
            margin-left: -6px;
          }
        }

        .timeline-icon {
          left: 0;
        }
      }
    }
  }
}

//------------------------------------------------------------------------------------------------------------------------------
// 5. Modal
// ---------

.orbit{

  .orbit-wrapper{
    padding : rem-calc(0 25);

  }
  .orbit-container{
    min-height: 330px;
  }

  @include breakpoint(small only) {
    .orbit-container{
      min-height: unset;
    }
  }

  .orbit-bullets button{
    width : 9rem;
    height: 100%;
    background-color : unset;
    cursor: pointer;
  }
}

#project-details{

  padding : 0;
  
  .close-button{
    position : inherit;
    top : 0;
    color : $secondary-color;
    transition : all 0.5s ease-out;

    &:hover{
      color: $mypurple;
      transition : all 0.5s ease-out;
    }
  }

  .close-top{
    
    background-color: $primary-color;
    height : rem-calc(50);

    .close-button{
      font-size: 2.8rem;
    }
  }

  .close-bottom button{
    font-size: rem-calc(18);
    padding : rem-calc(10);
  }

  .project-details-content{
    padding : rem-calc(25 0);

    .project-details-description{
      
      padding-right: rem-calc(5);
      border-right: 2px solid $mypurple;

      .project-details-text p{
        font-size: rem-calc(14);
      }
    }
  }

  h4{
    margin-bottom: rem-calc(25);
    position: relative;

      &::after{
      content: '';
      display: block;
      position: absolute;
      top: 1; right: -50%; bottom: 0; left: -50%;
      margin: auto;
      transition: width 0.3s ease;
      width: 150%;
      height: 2px;
      background-color: $mypurple;
      }

  }

  footer{
    
    i{
      padding-right: rem-calc(5);
    }

    button{
      margin : rem-calc(0 20);
      transition : border-color 0.5s ease-out;
    }
  }

}

button:hover{
  border-color: $mypurple;
  transition : border-color 0.5s ease-out;
}